body{
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #9ba0a2;
    min-width: 1200px;
}
h1,h2,h3{
    padding: 0;
    margin: 0;
}
figure{
    padding: 0;
    margin: 0;
}
.container{
    width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
.title{
    font-size: 30px;
    line-height: 30px;
    color: #566366;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 37px;
}
.header-top{
    background: url(../img/slider-bg.jpg) no-repeat center;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-color: #000;
}
.main-header .slider{
    height: 1000px;
    position: relative;
}
.slider-controls i{
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
.slider-controls-active{
    background-color: #FFF;
}
.slider-controls{
    position: absolute;
    width: 12px;
    height: 111px;
    bottom: 0;
    right: 10px;
}
.slide:nth-child(1){
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 534px;
}
.slide:nth-child(2){
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 534px;
}
.slide:nth-child(3){
    display: none;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-top: 534px;
}
.slides .slide-show{
    display: block;
}
.slide-title{
    font-size: 60px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 94px;
    position: relative;
}
.slide-title:after{
    content: "";
    position: absolute;
    width: 750px;
    height: 2px;
    background-color: #FFF;
    bottom: -31px;
    left: 215px;
}
.slide-title:before{
    content: "";
    position: absolute;
    width: 750px;
    height: 2px;
    background-color: #FFF;
    top: -32px;
    left: 215px;
}
.slide-btn{
    text-decoration: none;
    color: #FFF;
    border: 2px solid #fff;
    padding: 15px 36px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-menu{
    background-color: #252E30;
    padding: 14px 0;
}
.header-menu .logo{
    float: left;
    width: 160px;
}
.logo a{
    display: block;
    text-decoration: none;
    color: #FFF;
    padding-left: 60px;
    font-size: 30px;
    line-height: 42px;
    position: relative;
    font-weight: bold;
}
.logo span{
    color: #2ecc71;
}
.logo a:before{
    content: "";
    position: absolute;
    background: url("../img/sprite.png") no-repeat -235px -10px;
    width: 42px;
    height: 42px;
    left: 0;
    bottom: 0;
}
.header-menu .main-nav{
    float: right;
    min-width: 780px;
}
.main-nav {
    padding: 0 0;
    margin: 0;
    font-size: 0;
    text-align: right;
}
.main-nav li{
    display: inline-block;
    vertical-align: baseline;
    font-size: 16px;
    padding-top: 7px;
    margin-left: 40px;
}
.main-nav a{
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
}
.main-nav a:hover{
    color: #2ecc71;
}
.about-me{
    padding-top: 96px;
    margin-bottom: 96px;
}
.about-me-items{
    font-size: 0;
    margin-bottom: 73px;
}
.about-me-item{
    display: inline-block;
    vertical-align: top;
    width: 355px;
    margin-right: 54px;
    font-size: 18px;
}
.about-me-item:nth-child(3n){
    margin-right: 0;
}
.about-me .title{
    margin-bottom: 37px;
}
.about-me-description{
    min-width: 1400px;
    background-color: #f2f2f1;
}
.about-me-photo{
   float: left;
   width: 610px;
   margin-right: 100px;
   max-height: 754px;
   background-color: #000;
}
.about-me-skills {
    float: left;
    max-width: 680px;
    padding-top: 97px;
}
.about-me-skills > p{
    margin-bottom: 30px;
}
.about-me-skill-items{
    font-size: 0;
}
.about-me-skill{
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 29px;
    width: 250px;
    padding-left: 67px;
    margin-right: 46px;
    position: relative;
}
.about-me-skill:nth-child(2n){
    margin-right: 0;
}
.about-skill-title{
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 34px;
}
.about-me-skills .skill-webdis:before{
    content: "";
    position: absolute;
    background: url("../img/sprite.png") no-repeat -174px -10px;
    width: 41px;
    height: 41px;
    top: 39px;
    left: 0;
}
.about-me-skills .skill-graphdis:before{
    content: "";
    position: absolute;
    background: url("../img/sprite.png") no-repeat -10px -10px;
    width: 31px;
    height: 45px;
    top: 39px;
    left: 5px;
}
.about-me-skills .skill-market:before{
    content: "";
    position: absolute;
    background: url("../img/sprite.png") no-repeat -61px -10px;
    width: 36px;
    height: 36px;
    top: 37px;
    left: 0;
}
.about-me-skills .skill-seo:before{
    content: "";
    position: absolute;
    background: url("../img/sprite.png") no-repeat -117px -10px;
    width: 37px;
    height: 36px;
    top: 34px;
    left: 2px;
}
.skills{
    margin-bottom: 64px;
}
.skill-description{
    float: left;
    width: 560px;
}
.skills-progress-bar{
    float: right;
    width: 540px;
    padding-top: 36px;
}
.skill-description > p{
    margin-bottom: 30px;
}
.skills-btn{
    display: inline-block;
    vertical-align: top;
    padding: 11px 34px;
    text-transform: uppercase;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    margin-top: 11px;
    text-transform: uppercase;
    text-decoration: none;
}
.skills-progress-bar span{
    text-transform: uppercase;
    display: block;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}
.skills-scale{
    width: 100%;
    height: 30px;
    background-color: #F2F2F1;
    margin-bottom: 37px;
}
.skills-progress-bar .photoshop{
    height: 100%;
    width: 90%;
    background-color: #2ECC71;
    text-align: right;
    color: #fff;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.skills-progress-bar .illustrator{
    height: 100%;
    width: 80%;
    background-color: #2ECC71;
    text-align: right;
    color: #fff;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.skills-progress-bar .html-css{
    height: 100%;
    width: 90%;
    background-color: #2ECC71;
    text-align: right;
    color: #fff;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.skills-progress-bar .php-mysql{
    height: 100%;
    width: 70%;
    background-color: #2ECC71;
    text-align: right;
    color: #fff;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.resume{
    padding-bottom: 73px;
}
.resume-description{
    background-color: #F2F2F1;
    text-align: center;
    padding: 98px 0;
    position: relative;
}
.resume-description:after{
    content: "";
    position: absolute;
    border: 26px solid #fff;
    border-top-color: #F2F2F1;
    bottom: -52px;
    left: 50%;
    margin-left: -27px;
}
.resume-description p{
    padding: 0 61px;
    margin-bottom: 42px;
}
.resume-btn{
    display: inline-block;
    vertical-align: baseline;
    padding: 11px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #2ECC71;
    border: 2px solid #2ECC71;
}
.resume-education{
    padding-top: 97px;
    position: relative;
    padding-bottom: 74px;
}
.resume-education:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #CCC;
}
.resume-education-description{
    float: left;
    width: 560px;
}
.resume-education-diploms{
    float: right;
    width: 560px;
    padding-top: 73px;
}
.resume-education-description > p {
    margin-bottom: 30px;
}
.resume-title{
    font-size: 22px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.resume-place{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.resume-place span{
    font-weight: bold;
}
.resume .score{
    display: inline-block;
    vertical-align: top;
    padding: 0 12px;
    background-color: #2ECC71;
    color: #fff;
    font-size: 14px;
    margin-bottom: 35px;
}
.resume-education .college1{
    margin-bottom: 68px;
}
.resume-education .college{
    position: relative;
}
.resume-education .college:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #cccccc;
    top: 54%;
    left: 0;
}
.resume-work-exp{
    padding-top: 96px;
}
.resume-work-exp .work-exp-description{
    float: left;
    width: 560px;
}
.resume-work-exp .work-exp-jobs{
    float: right;
    width: 560px;
    padding-top: 73px;
}
.resume-work-exp .work-exp-description > p {
    margin-bottom: 30px;
}
.resume-work-exp .work1{
    margin-bottom: 68px;
}
.resume-work-exp .work2{
    margin-bottom: 68px;
}
.resume-work-exp .work{
    position: relative;
}
.resume-work-exp .work:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    top: 54%;
    left: 0;
}
.testimonials{
    background-color: #f2f2f1;
    position: relative;
    padding-top: 69px;
    padding-bottom: 149px;
}
.testimonials-controls{
    position: absolute;
    width: 80px;
    height: 18px;
    bottom: 93px;
    left: 50%;
    margin-left: -27px;
}
.testimonials-controls i{
    display: inline-block;
    vertical-align: top;
    width: 7px;
    height: 7px;
    border: 2px solid #2ecc71;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.testimonials-controls-active{
    background-color: #2ecc71;
}
.testimonial{
    display: none;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    padding: 0 50px;
    font-style: italic;
}
.testimonial p{
    margin-bottom: 29px;
}
.testimonials .testimonial-show{
    display: block;
}
.testimonial-title{
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
}
.portfolio{
    padding-top: 95px;
    padding-bottom: 60px;
}
.portfolio-description{
    text-align: center;
    padding: 0 60px;
    margin-bottom: 92px;
}
.portfolio-items{
    font-size: 0;
}
.portfolio-item{
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    width: 366px;
    height: 300px;
    margin-right: 41px;
    margin-bottom: 40px;
    position: relative;
    background-color: #000;
}
.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-filter{
    background-color: #252E30;
}
.portfolio-filter-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #FFF;
    padding-left: 37px;
    padding-top: 33px;
}
.portfolio-filter ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 38px;
    padding-top: 25px;
}
.portfolio-filter a{
    text-decoration: none;
    color: #919191;
}
.portfolio-filter .portfolio-filter-active{
    color: #FFF;
}
.portfolio-hover-block{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(46, 204, 113, 0.75);
    display: none;
}
.portfolio-hover-block:after{
    content: "";
    background: url("../img/sprite.png") no-repeat -733px -10px;
    width: 49px;
    height: 49px;
    position: absolute;
    top: 43%;
    left: 50%;
    margin-left: -28px;
    cursor: pointer;
}
.portfolio-item:hover .portfolio-hover-block{
    display: block;
}
.main-footer{
    background-color: #252E30;
}
.footer-contacts{
    padding-top: 96px;
    padding-bottom: 100px;
}
.footer-contacts .contacts-description{
    float: left;
    width: 560px;
}
.footer-contacts .contacts-form{
    float: right;
    width: 540px;
    padding-top: 38px;
}
.footer-contacts .adress{
    padding-top: 13px;
    margin-bottom: 30px;
}
.contacts-info{
    width: 220px;
    font-size: 0;
}
.contacts-info span{
    font-size: 18px;
    line-height: 30px;
}
.contacts-info span:nth-child(1){
    float: left;
    display: block;
    color: #FFF;
}
.contacts-info span:nth-child(2){
    float: right;
    display: block;
}
.contacts-form label{
    display: block;
    text-transform: capitalize;
    color: #FFF;
    margin-bottom: 10px;
}
.contacts-form input{
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0 20px;
    margin: 0;
    background-color: #4B5456;
    border: none;
    outline: none;
    color: #fff;
    height: 56px;
    width: 500px;
    margin-bottom: 33px;
}
.contacts-form textarea{
    font-size: 18px;
    line-height: 30px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 10px 20px;
    margin: 0;
    width: 500px;
    height: 260px;
    background-color: #4B5456;
    border: none;
    outline: none;
    color: #FFF;
    margin-bottom: 40px;
}
.contacts-form-btn{
    display: inline-block;
    vertical-align: top;
    padding: 13px 36px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    font-weight: bold;
    background-color: #191F21;
}
.footer-social{
    background-color: #191F21;
    text-align: center;
    padding-top: 41px;
    padding-bottom: 50px;
    font-size: 14px;
    text-transform: uppercase;
}
.footer-social .social-icons{
    padding-top: 21px;
    padding-left: 4px;
}
.footer-social .social-btn{
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 6px;
    background: url("../img/sprite.png") no-repeat;
    background-color: #4B5456;
}
.footer-social .social-twit{
    background-position: -575px 2px;
}
.footer-social .social-fb{
    background-position: -285px -1px;
}
.footer-social .social-target{
    background-position: -496px -3px;
}
.footer-social .social-google{
    background-position: -346px 0;
}
.footer-social .social-world{
    background-position: -648px -3px;
}
.footer-social .social-in{
    background-position: -423px -2px;
}
.footer-social .social-twit:hover{
    background-position: -612px 2px;
}
.footer-social .social-fb:hover{
    background-position: -314px -1px;
}
.footer-social .social-target:hover{
    background-position: -536px -3px;
}
.footer-social .social-google:hover{
    background-position: -385px 0;
}
.footer-social .social-world:hover{
    background-position: -686px -3px;
}
.footer-social .social-in:hover{
    background-position: -458px -2px;
}